<!DOCTYPE html>
<meta charset="utf-8">

<body>
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css"></link>
<link href="/css/interactive_tree.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>

<div id="block_container">
   <div id="searchName"></div>
   <button class="button" onclick="clearSearch()">Clear All</button>
   <button class="button" onclick="expandAllButton()">Expand All</button>
   <button class="button" onclick="showAll()">Show All Detail</button>
   <button class="button" onclick="hideAll()">Minimalist View</button>

   <div id="instructions">The above drop down list will find any node in the tree, searched alphabetically.</div>
</div>

<script>



//===============================================
// collects data in flat form. ID as the identifier, name as the display text
function select2DataCollectName(d) {
    if (d.children)
        d.children.forEach(select2DataCollectName);
    else if (d._children)
        d._children.forEach(select2DataCollectName);
    select2Data.push({"id": d.id, "name": d.name});
}

//===============================================
//has found child?  this was a fail.
function noFoundChildren(d){
  var noFoundChildren = true;
  console.log("starting search for found kiddos");
  if (d.children && !noFoundChildren)
      d.children.forEach(function(c) { if (c.class === "found") noFoundChildren = false; }) ;

  else if (d._children && !noFoundChildren)
      d._children.forEach(function(c) { if (c.class === "found") noFoundChildren = false; });
  console.log("nofound: " + noFoundChildren);
  return noFoundChildren;
}
//===============================================
//searches the trea with the current selections for a match

function searchTree(d) {
    if (d.children)
        d.children.forEach(searchTree); 
    else if (d._children)
        d._children.forEach(searchTree); 

    if (searchId.indexOf(d.id)>=0) {
            // Walk parent chain
            var ancestors = [];
            var parent = d;
            while (typeof(parent) !== "undefined") {
                ancestors.push(parent);
                parent.class = "found";  // sets the matched node to found.
                parent = parent.parent;
            }
    }
}

//===============================================
//clears "found" from all nodes.
function clearAll(d) { 
    d.class = "";
    if (d.children)
        d.children.forEach(clearAll);
    else if (d._children)
        d._children.forEach(clearAll);
}

//===============================================
//clears single node and its children
function collapse(d) {
    if (d.children) {
        d._children = d.children;
        d._children.forEach(collapse);
        d.children = null;
    }
}

//===============================================
//recursively finds children and sets d.children to d._children to collapse them if the class isn't "found"
function collapseAllNotFound(d) {
    if (d.children) {
    	if (d.class !== "found") {
        	d._children = d.children;
        	d._children.forEach(collapseAllNotFound);
        	d.children = null;
	    } else 
        	d.children.forEach(collapseAllNotFound);
    }
}

//===============================================
//expands all children
function expandAll(d) {
    if (d._children) {
        d.children = d._children;
        d.children.forEach(expandAll);
        d._children = null;
    } else if (d.children)
        d.children.forEach(expandAll);
}


//===============================================
// gets children's names as a array
// need to sort it.
function childNames(showFoundMarks = false, showOnlyFound = false) {
  expandAll(root);
  var nameList = '';
  var getText = function (d) {
      var thisRow = ''
      var thisRow =  thisRow.concat('\t'.repeat(d.depth));
      if (showFoundMarks && (d.class === "found")) {
        thisRow = thisRow.concat("[x] ");
      } else if (showFoundMarks && (d.class !== "found")) {
        thisRow = thisRow.concat("[ ] ");
      } 
      thisRow = thisRow.concat(d.name + '\n');
      if(showOnlyFound && d.class === "found") {
        nameList = nameList.concat(thisRow);
      } else if (showOnlyFound === false) {
        nameList = nameList.concat(thisRow);
      }
    if(d.children) d.children.forEach(getText);
  }
  getText(root);
  return nameList;
}

var sorter = function(a, b) {
  var nameA = a.name.toUpperCase(); // ignore upper and lowercase
  var nameB = b.name.toUpperCase(); // ignore upper and lowercase
   if (nameA < nameB) {
     return -1;
   }
   if (nameA > nameB) {
     return 1;
   }
   // names must be equal
   return 0;
}

function sortTree(d) {
  expandAll(d);
  if (d.children) {
    d.children.sort(sorter);
    d.children.forEach(sortTree);
  }
}

//===============================================
//creates JSON  and loads into box
function loadBoxWithJSON() {
    expandAll(root);
    $("#largeTextWorkspace").val(JSON.stringify(root,['name','children']));
}

//===============================================
//creates tabbed text outline  and loads into box
function loadBoxWithTabbedText(showFoundMarks = false, showOnlyFound = false) {
    sortTree(root);
    $("#largeTextWorkspace").val(childNames(showFoundMarks, showOnlyFound));
}
//===============================================
// toggleChildren children on click.
function toggleChildren(d) {
    if (d.children) {
        d._children = d.children;
        d.children = null;
    } else {
        d.children = d._children;
        d._children = null;
    }
    update(d);
}

//===============================================
// toggle whether current item is selected or not
// Improvement:  probably better to use the data() property of select2 to send an array object rather than string of text
function toggleFound(d) {
    clearAll(root);
    expandAll(root);
    update(root);
    
    searchId = $("#searchName").select2("val").map(Number);
    var index = searchId.indexOf(d.id);
    if (index  > -1)  {
      d.class === "";
      searchId.splice(index,1);

    } else {
      searchId.push(d.id);

    }
    $("#searchName").select2("val", searchId.map(String)); // change to manual clearning of search values
    searchTree(root);
    root.children.forEach(collapseAllNotFound);
    update(root);
}

//===============================================
// called when the select2 box has chosen another selection
$("#searchName").on("select2-selecting", function(e) {
    clearAll(root);
    expandAll(root);
    update(root);

    searchField = "d.id"; 
    searchId = $("#searchName").select2("val").map(Number)
    searchId.push(e.object.id);
    searchTree(root); 

    root.children.forEach(collapseAllNotFound);
    update(root);
})

//===============================================
// called when the select2 box has removed a selection
$("#searchName").on("select2-removing", function(e) {
    clearAll(root);
    expandAll(root);
    update(root);

    searchField = "d.id"; 
    searchId = $("#searchName").select2("val").map(Number)
    searchId.splice(searchId.indexOf(Number(e.val)),1);
    searchTree(root); 

    root.children.forEach(collapseAllNotFound);
    update(root);
})

//===============================================
//clear out all the search options, remove found
function clearSearch() { 
   $("#searchName").select2("val", ""); // change to manual clearning of search values
   clearAll(root);
   expandAll(root);
   update(root);
}

function expandAllButton() {
  sortTree(root);
  update(root);
}

//================================================
// a function to add a child node.

var newParent;

var theTestKids = function(node) {
  return [{"name": "kid one",}];
}

function addChildWindow(d) {
  modal.style.display = "block";
  $("#pickedNodeName").text(d.name);
  $("#childName").focus();
  newParent = d; // adds this to new parent to hold in case we cancel
}

function addChild(d, newName) {
  modal.style.display = "none";

  var newKid =  {"name": newName, "children": []};

  if(d._children) {
    d._children.push(newKid);
  } else if (d.children) {
    d.children.push(newKid);

  } else {
    d._children = [newKid];
  }

  expandAll(root);
  update(root);
  buildSelect2();
  
}

//================================================
// build and rebuild select2 based on new or added items.
function buildSelect2() {  
  select2Data = []; 
  select2DataCollectName(root); 
  select2Data.sort(sorter);

  // a quick utility function to return the name of an item for select2 
  function format(item) {
    return item.name;
  };

  // builds the select2 object on the screen
  // PROBLEM -something here is displaying block when it is called a second time in inline css.
  // tried overriding the css with containerCss but not working.  Maybe browser?
  $("#searchName").select2({ 
        data: {results: select2Data, text: 'name'},
        formatSelection: format,
        formatResult: format,
        containerCssClass: "search",
        multiple: "multiple"
  });
}

//===============================================
//builds the SVG object
var margin = {top: 20, right: 120, bottom: 20, left: 120},
    width = 1400 - margin.right - margin.left,
    height = 600 - margin.top - margin.bottom;
    
var i = 0,
    duration = 750,
    root; // root object to hold all the data

var zoom = d3.behavior.zoom()
    .scaleExtent([1, 10])
    .on("zoom", zoomed);

var tree = d3.layout.tree() 
    // specifies a tree layout with the above height and width and stores as an object tree
    // a d3.tree is a subclass of a d3.hierarchy which has made features of nodes
    // nodes are: (The item itself) and links(the parent and leaves)
    // this is specfic to d3 version 3
    .size([height, width]);

var diagonal = d3.svg.diagonal()   // creates a function diagnonal that determines the distance from one object
    .projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("body").append("svg") /// builds the svg based on the above info
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
    .attr("class", "map")
  .append("g") //creates the base node I think.  <g> is effectively a group container for other elements.
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    .call(zoom)
  .append("g");

 svg.append("rect")
        .attr("class", "overlay")
        .attr("width", width)
        .attr("height", height);
  // gets a request with a parsed JSON file and parses it with the included callback function
d3.json("/data/{{ map }}", function(error, flare) { 
    root = flare;
    root.x0 = height / 2; // puts in the middle of the screen rather than the top by dividing by half.
    root.y0 = 0; // puts root on the left most
    sortTree(root);
    update(root);

    // create select2Data to hold the pick list, populated by the following function
    buildSelect2();

    root.children.forEach(collapse); 
}); // end of /d3.json call


// future use planned to display whole map in text form for copy paste
var longList = d3.select("body").append("div")
    .append("ul")
      .attr("class","longList");

d3.select(self.frameElement).style("height", "800px");

// does the lifting of binding data to svg
function update(source) {
  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
      links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 180; });

  // Update the nodes…
  var node = svg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; });

  nodeEnter.append("circle")
      .attr("r", 1e-6)
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; })
      .on("click", toggleChildren);

  nodeEnter.append("rect")
      .attr("height", 1e-6)
      .attr("width", 1e-6)
      .attr("x", 10)
      .attr("y", -5)
      .on("click", toggleFound);

var plusSign = nodeEnter.append("g")
      .attr("class","plusSign")
      .on("click", addChildWindow)
      .attr("transform", "translate(23,-5)")
    
  plusSign.append("line")
      .attr("id", "vert")
      .attr("x1", 5)
      .attr("y1", 0)
      .attr("x2", 5)
      .attr("y2", 10)

  plusSign.append("line")
      .attr("id", "horiz")
      .attr("x1", 0)
      .attr("y1", 5)  
      .attr("x2", 10)
      .attr("y2", 5)

  nodeEnter.append("text")
      .attr("x", function(d) { return d.children || d._children ? -10 : 35; })
      .attr("dy", ".35em")
      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
      .text(function(d) { return d.name; })
      .style("fill-opacity", 1e-6);

  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
      .attr("r", 4.5)
      .style("fill", function(d) {
            if (d._children) {
                return "lightsteelblue";
            } else {
                return "#fff";
            }
        });

  nodeUpdate.select("rect")
      .attr("height", 10)
      .attr("width", 10)
      .style("fill", function(d) {
            if (d.class === "found") {
                return "#ffbf00"; // orange color if selected
            } else {
                return "#fff";
            }
        })
      .style("stroke", function(d) {
            if (d.class === "found") {
                return "#ffbf00";
            }
        });

    nodeUpdate.select("g#vert")
      .attr("x1", 5)
      .attr("y1", 0)
      .attr("x2", 5)
      .attr("y2", 10)

    nodeUpdate.select("g#horiz")
      .attr("x1", 0)
      .attr("y1", 5)  
      .attr("x2", 10)
      .attr("y2", 5)

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("rect")
      .attr("height", 1e-6)
      .attr("width", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  nodeExit.select("g#vert")
        .attr("x1", 5)
        .attr("y1", 0)
        .attr("x2", 5)
        .attr("y2", 10)

  nodeExit.select("g#horiz")
        .attr("x1", 0)
        .attr("y1", 5)  
        .attr("x2", 10)
        .attr("y2", 5)

  // Update the links…
  var link = svg.selectAll("path.link")
      .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      });

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal)
      .style("stroke", function(d) {
            if (d.target.class === "found") {
                return "#ffbf00";
            }
        });

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}


function zoomed() {
  svg.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}

</script>
<div id="footer" class="footer">
  Much credit to <a href="https://d3js.org/">d3</a>. AND this collapsing tree is basically a fork of work by pbrockmann - <a href="https://gist.github.com/PBrockmann/0f22818096428b12ea23">CollapsibleTree Search</a> and once I learn to fork on git I'll do that...
</div>

<div id="textbox">
 <button class="button" onclick="loadBoxWithJSON()">Display Entire Tree as JSON</button>
 <button class="button" onclick="loadBoxWithTabbedText(false)">Display Entire Tree as Text</button>
 <button class="button" onclick="loadBoxWithTabbedText(true)">Display Entire Tree as Text with found marks</button>
 <button class="button" onclick="loadBoxWithTabbedText(false, true)">Display Only Found as Text </button>
 <!-- <button class="button" onclick="">Load JSON from this box to Tree</button> -->
 <textarea id="largeTextWorkspace"></textarea>
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="accept">&#10003;</span><span class="cancel">&times;</span>
    <p>Add a child to <span id="pickedNodeName"></span> with name:</p>
    <input type="text" id="childName" class="textentry">
  </div>

</div>
<script>


// =====================================================
//  functions to manage the modal dialog.
var modal = document.getElementById('myModal');

var cancelButton = document.getElementsByClassName("cancel")[0];

var acceptButton = document.getElementsByClassName("accept")[0];

acceptButton.onclick = function() {
  addChild(newParent, $("#childName").val());
  modal.style.display = "none";
  $("#childName").val("");
}

cancelButton.onclick = function() {
    modal.style.display = "none";
    newParent = null;
}

// catch enter and submit the form.

$('#childName').keypress(function (e) {
  if (e.which == 13) {
    addChild(newParent, $("#childName").val());
    modal.style.display = "none";
    $("#childName").val("");
    return false;    //<---- Add this line
  }
});

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

  
function showAll() {
  $(".plusSign").show();
  $("text").show();
  $("circle").show();
}

function hideAll()  {
  $(".plusSign").hide();
  $("text").hide();
  $("circle").hide();
}

</script>

</body>
