recursive-include LearningOrgMap/templates *.*
recursive-include LearningOrgMap/css *.*
recursive-include LearningOrgMap/data *.*
recursive-include LearningOrgMap/js *.*
recursive-include LearningOrgMap/utils *.*