.overlay {
  fill: none;
  pointer-events: all;
}

circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

text {
	font-size: 14px;
	font-family: sans-serif;
}

path.link {
  fill: none;
  stroke: #f1f1f1	;
  stroke-width: 1.5px;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid rgba(255, 191, 0, 0.18);
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
.node {
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node rect {
  cursor: pointer;
  fill: white;
  stroke: rgba(255, 191, 0, 0.18);
  stroke-width: 1.5px;
}

.node g.plusSign {
  cursor: pointer;
  stroke: #b6e6db;
  stroke-width: 2px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.found {
  fill: #ff4136;
  stroke: #ff4136;
}

.search {
  font: 10px sans-serif;
  width: 30%;
}

.map {
  float: left;
}

.footer {
  font: 9px sans-serif;
  float: left;
}

ul.select2-results {
 max-height: 300px;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  font: 10px sans-serif;
}

ul.longList {
  font: 8px sans-serif;
}

#block_container {
  display: inline;
}

#instructions,
#header {
  font: 10px sans-serif;
}

#header {
  font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size: 14px;
    font-family: sans-serif;
}

/* The Add Child box text field */

.textentry {
  min-height: 26px;
  width:80%;
  height:auto!important;
  margin: 0;
  padding:0 5px 0 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow:hidden;
  background-color: #fff;
  background-image: linear-gradient(to_bottom, #eee 1%, %fff 15%);
}

#pickedNodeName {
  background-color:#8DFF89;
  font-style:italic;
}

/* The Accept Button */
.accept {
    color: #8DFF89;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.accept:hover,
.accept:focus {
    color: #22FF1C;
    text-decoration: none;
    cursor: pointer;
}


/* The Cancel Button */
.cancel {
    color: #A86869;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.cancel:hover,
.cancel:focus {
    color: #A80003;
    text-decoration: none;
    cursor: pointer;
}

#textbox {
  clear:both;
}

textarea {
  clear:both;
  width: 80%;
  font-style: sans-serif;
  font-size: 8px;
}
