circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

text {
	font-size: 14px;
	font-family: sans-serif;
}

path.link {
  fill: none;
  stroke: #f1f1f1	;
  stroke-width: 1.5px;
}